@import "tailwindcss";

body {
  font-family: "Barlow", sans-serif;
  list-style: none;
  text-decoration: none;
  background-color: #f9f9f9;
}

.container {
  max-width: 1240px;
  padding: 0 40px;
  margin: 0 auto;
}

.public-list {
  animation: loop 15s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.public-list:hover {
  animation-play-state: paused;
}