@import "tailwindcss";

body {
  font-family: "Barlow", sans-serif;
  list-style: none;
  text-decoration: none;
  background-color: #f9f9f9;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}